<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/blob.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔥</text></svg>">
		<title>Contraption</title>
	</head>
	<body>
		<div id="blob">
			<svg viewBox="0 0 200 200">
				<defs>
					<linearGradient id="gradient" gradientTransform="rotate(90)">
						<stop id="gradientStop1" offset="0%" stop-color="var(--startColor)" />
						<stop id="gradientStop2 " offset="100%" stop-color="var(--stopColor)" />
					</linearGradient>
				</defs>
				<path d="" fill="url('#gradient')"></path>
			</svg>
		</div>

		<div id="main">
			<header>contraption</header>
			<div id="current-temp">
				<div id="temp" style="display:none;">
					<span id="temp-main" class="primary">0</span><span id="temp-digits" class="secondary">.00</span><span class="primary">°</span>
				</div>
				<div id="temp-error" style="display:none;">Error</div>
				<div class="loading" style="display:none;">...</div>
			</div>
			<div id="min-max">
				<div id="min" class="f-l">
					<div id="temp-min" class="temp"></div>
					<div class="inc-dec">
						<div id="temp-min-dec-btn" class="inc-dec-btn f-l"></div>
						<div id="temp-min-inc-btn" class="inc-dec-btn f-r"></div>
						<div class="c-b"></div>
					</div>
				</div>
				<div id="max" class="f-r">
					<div id="temp-max" class="temp"></div>
					<div class="inc-dec">
						<div id="temp-max-dec-btn" class="inc-dec-btn f-l"></div>
						<div id="temp-max-inc-btn" class="inc-dec-btn f-r"></div>
						<div class="c-b"></div>
					</div>
				</div>
				<div class="c-b"></div>
			</div>
		</div>

		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/blob.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/api.js') }}"></script>
		<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	</body>
</html>
